.controlBlockOverlay{
    margin-top: 10px;
    text-align: center;
}

.controlBlock{
    margin: 10px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center ;
    justify-content: space-around;
}
input{
    height: 20px;

}